<!-- <ion-grid>
    <ion-row>
        <ion-col *ngFor="let post of posts" size="12">
          <div class="image" [image-loader]="post.images" (click)="open(post.images)" *ngIf="post.images!==''"></div>
          <iframe *ngIf="post.videoContent!==''" style="width: 100%;" [src]="post.videoContent | youtube" frameborder="0" allowfullscreen></iframe>
        </ion-col>
    </ion-row>
  </ion-grid> -->

<ion-content>
  <div *ngFor="let item of feeds; let i = index">
    <feed-minimal
      [feed]="item"
      [itemIndex]="i"
      (event)="manage($event)"
    ></feed-minimal>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMoreFeed($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-spinner *ngIf="loading"></app-spinner>
  <app-no-data *ngIf="feeds && feeds.length === 0"></app-no-data>
</ion-content>
