

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-padding ion-no-margin">
      <ion-back-button class="ion-no-padding ion-no-margin">
          <!-- <ion-icon style="color: black;font-size: 26px;margin-left: 4px;" src="../../../assets/icons/chevron-back.svg" (click)="goBack()"></ion-icon> -->
      </ion-back-button>
      <!-- <ion-menu-button menu="shop" size="small" autoHide="true">
      </ion-menu-button> -->
      <ion-icon name="menu" style="font-size: 25px;padding-left: 10px;" (click)="openMenu()"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/search'" routerDirection="forward">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="wrap-top-slide" *ngIf="list_product_slide">
    <ion-slides [options]="slidePerViewOpts">
      <ion-slide *ngFor="let item of list_product_slide">
        <div text-left class="item-slide" [routerLink]="['/detail', {id_item: item.payload.doc.id}]">
          <div class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center">
            <img src="{{item.payload.doc.data().thumb}}">
          </div>
          <p class="pdl-15 pdr-15 ellipsis txt3 mgb-5 fs-14">{{item.payload.doc.data().description}}</p>
          <h4 class="pdl-15 pdr-15 fw-500 fs-16 txt1 mgt-0 ellipsis">{{item.payload.doc.data().name}}</h4>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <div padding class="wrap-news" *ngIf="list_product_new">
    <h5 class="uppercase fs-16 fw-600 spacing-1 txt1">New Post</h5>
    <ion-slides [options]="slidePerViewOpts2">
      <ion-slide *ngFor="let item of list_product_new">
        <div text-left class="item-slide" [routerLink]="['/detail', {id_item: item.payload.doc.id}]">
          <div class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center">
            <img src="{{item.payload.doc.data().thumb}}">
          </div>
          <h4 class="fw-500 fs-14 txt1 mgb-0 ellipsis">{{item.payload.doc.data().name}}</h4>
          <p class="txt4 mgt-0 fs-11">{{(item.payload.doc.data().created).substring(4, 15)}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <div padding class="">
    <h5 class="uppercase fs-16 fw-600 spacing-1 txt1 mgt-0">Popular</h5>
    <ion-row>
      <ion-col size="6" *ngFor="let item of list_product">
        <div class="item-prd mgb-30">
          <div class="thumb ovfl-hidden flex-row flex-jus-center flex-ali-center">
            <div class="discount fw-600 pdt-5 fs-12 shadow-3 white" *ngIf="item.payload.doc.data().discount > 0">
              - {{item.payload.doc.data().discount}}%
            </div>
            <img src="{{item.payload.doc.data().thumb2}}" [routerLink]="['/detail', {id_item: item.payload.doc.id}]">
            <ion-button size="small" color="primary" class="fs-11 bdra-0 favo-btn" *ngIf="favo_str.search(item.payload.doc.id) > -1" (click)="favorites(item)">
              <ion-icon name="ios-heart"></ion-icon>
            </ion-button>
            <ion-button size="small" color="dark" class="fs-11 bdra-0 favo-btn" *ngIf="favo_str.search(item.payload.doc.id) < 0" (click)="favorites(item)">
              <ion-icon name="ios-heart"></ion-icon>
            </ion-button>
          </div>

          <div class="ovfl-hidden" [routerLink]="['/detail', {id_item: item.payload.doc.id}]">
            <h4 class="fs-16 fw-600 ellipsis mgb-0 mgt-10">{{item.payload.doc.data().name}}</h4>
            <p class="mgt-5 mgb-0">
              <span class="ellipsis fs-14 txt3 mg-0 line-through mgr-10 fw-600" *ngIf="currenciesProv && item.payload.doc.data().discount > 0">
                <i *ngIf="currenciesProv">{{item.payload.doc.data().price}}</i>
              </span>
              <span class="ellipsis fs-14 txt1 mg-0 fw-600" *ngIf="currenciesProv && item.payload.doc.data().discount > 0">
                {{item.payload.doc.data().price - item.payload.doc.data().price*item.payload.doc.data().discount/100}}
              </span>
              <span class="ellipsis fs-14 txt1 mg-0 fw-600" *ngIf="currenciesProv && item.payload.doc.data().discount == 0">
                {{item.payload.doc.data().price}}
              </span>
            </p>
          </div>
          <div class="mgt-10">
            <ion-button size="small" color="dark" (click)="addCart(item)" class="uppercase fs-11 bdra-0 fw-600">
              <ion-icon slot="start" name="ios-cart"></ion-icon>
              Add to cart
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <br>
  

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
