<ng-container *ngIf="feed && me">
  <div class="start">
    <div class="author" (click)="goToProfile(feed.user?.uid)">
      <div class="image-profile" [image-loader]="feed.user.photoURL"></div>
      <div class="details">
        
     

        <div class="name">{{ feed.user.displayName }}</div>
        <div class="publish-date">{{ feed?.createdAt?.toDate() | amTimeAgo }}</div>
      </div>
    </div>

    
     
    <div class="title" (click)="clicked('detail')">
      {{ feed.title | slice: 0:50 || 'feed-component.no-post-title' | translate }}
    </div>
    <div class="content" (click)="clicked('detail')">
      {{ feed.content | slice: 0:190 || 'feed-component.no-post-content' | translate }}
    </div>

    

    <div class="actions">


      <ion-button color="medium" fill="clear" size="small" (click)="clicked('comment', itemIndex, feed)"
      >
        <ion-icon class="open-comments" src="assets/icons/chatbubbles-outline.svg"></ion-icon> 
        <small>{{ feed?.comments?.length ? feed.comments.length : '' }}</small>
      </ion-button>

      <ion-button
      fill="clear"
      size="small"
      (click)="clicked('like', itemIndex, feed)"
    >
      <small *ngIf="feed?.likes?.length > 0">{{
        feed?.likes?.length > 0 ? feed.likes.length : ""
      }}</small>
      <ion-icon
        [name]="feed.userLiked ? 'flame' : 'flame'"
        [color]="
          feed.likes && feed.likes.includes(me.uid) ? 'tertiary' : 'primary'
        "
      >
      </ion-icon>
      <ion-text
        [color]="
          feed.likes && feed.likes.includes(me.uid) ? 'primary' : 'primary'
        "
        style="text-transform: capitalize;"
        >{{ "feed-component.big-up" | translate }}</ion-text
      >
    </ion-button>

    <ion-button
    class="open-detail"
    fill="clear"
    color="primary"
    (click)="clicked('detail', itemIndex, feed)" router-direction="back">
    <ion-icon class="open-detail" src="assets/icons/open-outline.svg" mode="md" class="iconSize"></ion-icon>
      </ion-button>


  
      
    </div>
  </div>

  <div class="end">
    <div class="image" [image-loader]="feed.images[currentIndex]">
      <div class="left" *ngIf="feed.images && feed.images.length > 1">
        <ion-icon mode="ios" name="arrow-up" (click)="back()"></ion-icon>
      </div>
      <div class="center" (click)="openImage(feed)"></div>
      <div class="right" *ngIf="feed.images && feed.images.length > 1">
        <ion-icon mode="ios" name="arrow-down" (click)="forward()"></ion-icon>
      </div>
    </div>
  </div>

  <div *ngIf="feed.videoContent">
    <iframe
      class="youtvids"
      [src]="feed.videoContent | youtube"
      width="88%"
      height="200px"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div  class="vids" *ngIf="feed.videoUrl">
    <video
      #postvideo
      id="video-post"
      style="border-radius: 6px; margin-left: 12%;"
      width="88%"
      height="250px"
      controls
    >
      <source type="video/mp4" [src]="feed.videoUrl" />
    </video>
  </div>
</ng-container>
