<!--<ng-container *ngIf="feed && me">-->
<!--  &lt;!&ndash; author section &ndash;&gt;-->
<!--  <div class="author">-->
<!--    <div class="image" [image-loader]="feed.user?.photoURL" (click)="clicked('profile')"></div>-->
<!--    <div class="details">-->
<!--      <div class="name">{{ feed.user?.displayName }}</div>-->
<!--      <div class="publish-date">{{ feed?.createdAt?.toDate() | amTimeAgo }}</div>-->
<!--    </div>-->
<!--    <div class="option" *ngIf="feed.user?.uid === me.uid">-->
<!--      <ion-button fill="clear" size="small" (click)="clicked('more')">-->
<!--        <ion-icon name="more"></ion-icon>-->
<!--      </ion-button>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; image section &ndash;&gt;-->
<!--  <div class="image-content" (click)="clicked('detail')">-->
<!--    <div class="image-item" [image-loader]="item" *ngFor="let item of feed.images | slice: 0:4"></div>-->
<!--  </div>-->

<!--  <div class="content" (click)="clicked('detail')">-->
<!--    <div class="title">{{ feed.title || 'feed-component.no-post-title' | translate }}</div>-->
<!--    <div class="subtitle">{{ (feed.content | slice: 0:70) || ('feed-component.no-post-content' | translate) }}</div>-->
<!--  </div>-->

<!--  <div class="actions mt10">-->
<!--    <div class="start">-->
<!--      <ion-button fill="clear" size="small" (click)="clicked('like')">-->
<!--        <ion-icon [name]="feed.userLiked ? 'heart' : 'heart-empty'" [color]="feed.userLiked ? 'tertiary' : 'primary'">-->
<!--        </ion-icon>-->
<!--        <small>{{ feed?.likes?.length > 0 ? feed.likes.length : '' }}</small>-->
<!--      </ion-button>-->

<!--      <ion-button fill="clear" size="small" (click)="clicked('comment')">-->
<!--        <ion-icon name="chatboxes"></ion-icon>-->
<!--        <small>{{ feed?.comments?.length ? feed.comments.length : '' }}</small>-->
<!--      </ion-button>-->
<!--    </div>-->
<!--    <div class="end">-->
<!--      <ion-button fill="clear" size="small" (click)="clicked('share')">-->
<!--        <ion-icon name="share-alt"></ion-icon>-->
<!--        <small>{{ 'feed-component.share-button' | translate }}</small>-->
<!--      </ion-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
<ng-container *ngIf="feed && me && feed.user?.displayName">
  <!-- author section -->
  <div class="author" (click)="goToProfile(feed.user?.uid)">
    <div
      class="image"
      [image-loader]="feed.user?.photoURL"
      (click)="clicked('profile', itemIndex, feed)"
    ></div>
    <div class="details">
      <div class="name">{{ feed.user?.displayName }}</div>
      <div class="publish-date">
        {{ feed?.createdAt?.toDate() | amTimeAgo }}
      </div>
    </div>
    <div class="option" *ngIf="feed.user?.uid === me.uid">
      <ion-button
        fill="clear"
        size="small"
        (click)="clicked('more', itemIndex, feed)"
      >
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- image section -->
  <!--  <div class="image-content" (click)="clicked('detail', itemIndex, feed)">-->
  <!--    <div class="image-item" [image-loader]="item" *ngFor="let item of feed.images | slice: 0:4"></div>-->
  <!--  </div>-->

  <div
    class="image-content"
    *ngIf="feed.images && feed.images.length > 0"
    [image-loader]="feed.images[currentIndex]"
  >
    <div class="left" *ngIf="feed.images && feed.images.length > 1">
      <ion-icon mode="ios" name="arrow-back" (click)="back()"></ion-icon>
    </div>
    <div class="center" (click)="openImage(feed)"></div>
    <div class="right" *ngIf="feed.images && feed.images.length > 1">
      <ion-icon mode="ios" name="arrow-forward" (click)="forward()"></ion-icon>
    </div>
  </div>
  <div *ngIf="feed.videoContent">
    <iframe
      [src]="feed.videoContent | youtube"
      width="100%"
      height="300px"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div *ngIf="feed.videoUrl">
    <video
      #postvideo
      id="video-post"
      width="100%"
      height="300px"
      autoplay
      controls
    >
      <source type="video/mp4" [src]="feed.videoUrl" />
    </video>
  </div>

  <div class="content" (click)="clicked('detail', itemIndex, feed)">
    <div class="title">
      {{ feed.title || "feed-component.no-post-title" | translate }}
    </div>
    <div class="subtitle">
      {{
        (feed.content | slice: 0:70) ||
          ("feed-component.no-post-content" | translate)
      }}
    </div>
  </div>

  <div class="actions mt10">
    <div class="start">
      <ion-button
        fill="clear"
        size="small"
        (click)="clicked('like', itemIndex, feed)"
      >
        <small *ngIf="feed?.likes?.length > 0">{{
          feed?.likes?.length > 0 ? feed.likes.length : ""
        }}</small>
        <ion-icon
          [name]="feed.userLiked ? 'flame' : 'flame'"
          [color]="
            feed.likes && feed.likes.includes(me.uid) ? 'tertiary' : 'primary'
          "
        >
        </ion-icon>
        <ion-text
          [color]="
            feed.likes && feed.likes.includes(me.uid) ? 'tertiary' : 'primary'
          "
          style="text-transform: capitalize;"
          >{{ "feed-component.big-up" | translate }}</ion-text
        >
      </ion-button>

      <ion-button
        fill="clear"
        size="small"
        (click)="clicked('comment', itemIndex, feed)"
      >
        <ion-icon name="chatboxes"></ion-icon>
        <small>{{ feed?.comments?.length ? feed.comments.length : "" }}</small>
      </ion-button>
    </div>
    <div class="end">
      <ion-button
        fill="clear"
        color="medium"
        (click)="clicked('detail', itemIndex, feed)"
      >
        <ion-icon mode="md" class="iconSize" name="md-open"></ion-icon>
      </ion-button>
    </div>
  </div>
</ng-container>

<!-- <plugin name="cordova-plugin-facebook4" spec="^2.1.0">
  <variable name="APP_ID" value="1960462074231674" />
  <variable name="APP_NAME" value="iDerbyMusic" />
</plugin> -->
