.ion-float-right{
Padding-right: 15px;
}
.noti-icon {
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 0;
}

.noti-icon ion-badge {
    position: absolute;
    right: 0;
    bottom: 16px;
    font-size: 10px;
}