<ion-content class="ion-padding" scrollX="false" scrollY="false">
  <img alt="appicon" height="22" class="ion-float-right" src="assets/images/logo1.png"/>
  <div class="content-wrapper">
    <ion-button class="mb15" shape="round" (click)="goto(routes.login)"> {{ 'auth-component.login-button' | translate }}</ion-button>
    <ion-button class="mb15" shape="round" fill="outline" (click)="goto(routes.register)">
      {{ 'auth-component.signup-button' | translate }}</ion-button
    >

    <p class="text-line-through-background">
      <span>{{ 'auth-component.alt-login' | translate }}</span>
    </p>
   
    <div class="forgot mt15" (click)="goto(routes.forgot)">
      {{ 'auth-component.forgot-text-1' | translate }}
      <a class="reset">{{ 'auth-component.forgot-text-2' | translate }} </a>
    </div>

    <div class="terms">
      {{ 'auth-component.i-read' | translate
      }}<a (click)="openTermsAndConditions()" class="strong">{{ 'auth-component.tandc' | translate }}</a>
    </div>
  </div>
</ion-content>