<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>
 <img id="hide" alt="appicon" height="22" style="margin-right: 0px;" class="ion-float-right" src="assets/images/logo1.png"/>
    </ion-title>
     <ion-button fill="clear" class="writer" menu="second" autoHide="true" routerLink="/feed" routerDirection="backward">
    <ion-icon style="color: #351010; font-size: 26px; margin-left: 0px;"
    icon="../../../../assets/icons/chevron-back.svg"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	

<iframe src="https://dontramp.com/hq/beats" frameborder="0" allowtransparency="yes" scrolling="yes" style="width:100%;  height: 100vh; margin-top: 0px;" ></iframe>

</ion-content>
