<ion-content padding>
  <img
    id="hide"
    alt="appicon"
    height="22"
    class="ion-float-right"
    src="assets/images/logo1.png"
  />

  <br />

  <ion-button
    fill="clear"
    class="writer"
    menu="second"
    autoHide="true"
    (click)="goBack()"
  >
    <ion-icon name="md-close"></ion-icon>
  </ion-button>

  <ion-menu-button class="play" menu="second" autoHide="true">
    <ion-icon name="md-play"></ion-icon>
  </ion-menu-button>

  <iframe
    src="https://dontramp.com/writer/sticky_note_demo.html"
    frameborder="0"
    allowtransparency="yes"
    scrolling="yes"
    style="width: 100%; height: 100vh; margin-top: 40px;"
  ></iframe>
</ion-content>
