<ion-toolbar>
  <ion-buttons slot="end">
    <ion-buttons>
      <ion-button (click)="closeModal()" color="danger">
        <ion-icon name="close-circle" color="danger" (click)="closeModal('close')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="wrapper no-padding" *ngIf="feed && user">
    <div class="image-content" *ngIf="feed.images && feed.images.length > 0" [image-loader]="feed.images[currentIndex]">
      <div class="left" *ngIf="feed.images && feed.images.length > 1">
        <ion-icon mode="ios" name="arrow-back" (click)="back()"></ion-icon>
      </div>
      <div class="center" (click)="openImage(feed)"></div>
      <div class="right" *ngIf="feed.images && feed.images.length > 1">
        <ion-icon mode="ios" name="arrow-forward" (click)="forward()"></ion-icon>
      </div>
    </div>

    <ng-container *ngIf="feed?.videoContent">
      <div class="image-nav-wrapper" *ngIf="feed?.videoContent">
        <iframe [src]="feed?.videoContent | youtube" width="100%" height= "300px" frameborder="0" allowfullscreen></iframe>
      </div>
    </ng-container>

    <ng-container *ngIf="feed?.videoUrl">
      <div class="image-nav-wrapper" *ngIf="feed?.videoUrl">
        <video [src]="feed?.videoUrl | youtube" width="100%" height= "250px" style="margin-bottom: 35px;" controls></video>
      </div>
    </ng-container>

    <div class="content" [ngStyle]="!feed?.videoContent ? {'margin-top': '-50px', 'border-radius': '30px'} : {}">
      <div class="title">{{ feed.title || 'feed-component.no-post-title' | translate }}</div>
      <div class="subtitle">{{ feed.subtitle || 'feed-component.no-post-subtitle' | translate }}</div>

      <div class="author">
        <div class="image" [image-loader]="feed.user.photoURL"></div>
        <div class="details">
          <div class="name">{{ feed.user.displayName }}</div>
          <div class="publish-date">{{ feed?.createdAt?.toDate() | amTimeAgo }}</div>
        </div>
      </div>
      <div class="paragraph">{{ feed.content || 'feed-component.no-post-image' | translate }}</div>
    </div>

    <!-- actions -->
    <div class="actions">
      <div class="start">
        <ion-button color="medium" fill="clear" (click)="share(feed)">
          <ion-icon name="share-alt"></ion-icon>
          <small>{{ 'feed-component.share-button' | translate }}</small>
        </ion-button>
      </div>

      <ion-button color="medium" fill="clear" (click)="comment(feed)">
        <ion-icon name="chatboxes"></ion-icon>
        <small>{{ feed.comments.length ? feed.comments.length : '' }}</small>
      </ion-button>

      <div class="end" *ngIf="feed.uid === user.uid">
        <ion-button color="secondary" fill="clear" (click)="edit(feed)">
          <ion-icon name="create"></ion-icon>
          <small>{{ 'feed-component.edit-button' | translate }}</small>
        </ion-button>

        <ion-button color="danger" fill="clear" (click)="delete(feed)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
